.header, #navbar{
	background: #352B31;
	padding: 2px 10px;
}

.fa-chevron-down{
	color: #fff;
}

.icon-bar{
	color: #fff;
}
.img-center{
	margin: 0px auto;
}

.navbar-react > img, .navbar-react > h1 {
	float:left;
	display: inline-block;
}
.navbar-react > h1{
	color:#CEB365;
}

#signin{
	margin-top: 20px;
}

#signin > .input-group{
	margin-right: 10px;
}


.fa-2x { color: #356c84; }
.ds-btn li {
    list-style: none;
    float: left;
    padding: 10px;
}
.ds-btn span{
    font-size:90%;
}
.ds-btn li a span {
    padding-left: 15px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.ds-btn li a span small {
    width: 100%;
    display: inline-block;
    text-align: left;
}

.valuelist { line-height: 40px }

#sidebar-left{
	float:left;
}

#sidebar-right, #sidebar-left{
	margin-top: 10px;
}

#sidebar-right, #sidebar-left{
	background: #CEB365;
	border: none;
}

#sidebar-right:hover, #sidebar-left:hover{
	background: #b19441;
}

#sidebar-right:focus, #sidebar-left:focus, #sidebar-right:active, #sidebar-left:active{
	outline: none!important;
}

#sidebar-right{
	float:right;
}

#right-bar, #left-bar{
	background: #352B31;
	background: #CEB365;
	height: 100%;
	min-height: 1000px;
}

#right-bar{
	position:absolute;
	right: 0px;

}

#left-bar{
	position: absolute;
	left: 0px;

}

#main{
	z-index: 50;
}
#right-bar h2, #left-bar h2{
	color: #CEB365;
	color: #352B31;;
	padding: 0px 25px;
}

.center-logo{
	width: 115px;
	height: 75px;
	position: relative;
	margin: 0px auto;
	padding: 0px 10px;
	border-radius: 5px;
	background: #352B31;
	border: none;
}

.center-logo:hover{
	background: #52434c;
}

.center-logo:focus, .center-logo:checked{
	background: #352B31;
}

.center-logo:active{
	color: #352B31;
	background: #f5dd99;
}

.center-logo > img, .center-logo > i{
	float: left;
	display: inline;
}

.center-logo > i{
	margin-top: 30px;
}

#profile-menu, #profile-menu a{
	color: #fff;
}

#profile-menu{
	max-width: 200px;
	margin: 0px auto;
}

.col-3{
	position:absolute;
}

#main-content{
	padding-top: 20px;
	background: rgb(251, 251, 251);
}

.filepicker {
    display: inline-block;
    width: 35px;
    padding: 25px 0 0 0;
    height: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../img/camera.png') center center no-repeat #e4e4e4;
    background-size: 35px 25px;
}
